.modal-wrapper{
    position: fixed;
    background: #000000d1;

    height: 100vh;
    width: 100vw;

    top: 0;
    left: 0;

    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.modal{
    background: var(--background);

    width: min(59rem, 80%);
    height: 36.2rem;
    padding: 6.4rem 8.6rem;

    text-align: center;

    margin: auto;
    border-radius: .8rem;
    
    font-family: "Poppins", sans-serif;
    
}

.modal h2{
    width: 100%;
    line-height: 4.2rem;
    margin-bottom: 1.2rem;

    font-weight: 700;
    font-size: 2.4rem;
    color: var(--black);
}

.modal p{
    margin-bottom: 2.4rem;

    font-weight: 400;
    font-size: 1.6rem;
    color: var(--grey-dark);
}

.modal form #password{
    margin-bottom: 4rem;
    width: min(30.2rem, 90%);

    padding: 1.3rem 1.6rem;

    border-radius: .8rem;
    border: .21rem solid var(--blue);
    outline: none;

    font-family: "Open Sans", sans-serif;
}

.modal form .buttons{
    margin: auto;
    width: min(30.2rem, 100%);

    display: flex;
    justify-content: center;
}

.modal form .buttons > .button,
.modal form .buttons > button{
    padding: 1.3rem 1.6rem;
}

.modal form .buttons > .button{
    margin-right: 1.2rem;    
}
