.content{
    max-width: min(1120px, 80%);
}

#room header{
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: space-between;
}

#room header .buttons .button img{
    width: 2rem;
    height: 2rem;
}

#room header .buttons {
    display: flex;
}

#room header .buttons .button{
    padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(1){
    margin-right: .8rem;
    padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(1) img{
    margin-left: 1rem;
    margin-right: 0rem;
}

#room header .buttons .button:nth-child(2){
    margin-right: .8rem;
    padding: 1.3rem 3.2rem;
}

/* #room header .buttons .button:nth-child(2) img{

} */

#question-form h2{
    width: 100%;
    line-height: 4.2rem;
    margin-bottom: 2.4rem;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--black);
}

#question-form form{
    border: .3rem solid var(--grey-blue);
    border-radius: 0px .8rem .8rem .8rem;
    
    padding: 1.6rem;
}

#question-form form textarea{
    background: transparent;
    resize: none;
    outline: none;

    width: 100%;
}

#question-form form textarea:placeholder{
    color: var(--grey-blue);
    font-size: 1.6rem;
}

#question-form form footer{
    display: flex;

    justify-content: space-between;
    align-items: center;

    height: 4rem;
}

#question-form form footer > div{
    
    display: flex;
    align-items: center;

    height: 2.2rem;

    font-size: 1.4rem;
    font-weight: 400;
    color: var(--icon-details);
}

#question-form form footer > div img{
    margin-right: .6rem;
}

#question-form form footer button{
    height: auto;
    line-height: 2.4rem;
    padding: .8rem 2.4rem;
}


#no-questions{
    height: 22.5rem;
    width: 27.7rem;
    
    margin-top: 5.2rem;
    
    position: absolute;
    
    right: 58.2rem;
    
    display: grid;
    grid-template-rows: auto;

    grid-template-areas:
    "img",
    "th2",
    "txt";

    justify-items: center;
}

#no-questions .nq{
    background: url("/assets/noquestions.svg") no-repeat top/contain;

    grid-area: "img";

    width: 15rem;
    height: 13.5rem;
}

#no-questions h2{
    text-align: center;

    grid-area: "th2";

    width: 100%;
}

#no-questions .txt{
    text-align: center;

    grid-area: "txt";
    width: 100%;
}